<!-- Footer -->
<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      <div class="6u 6u(medium) 12u$(small)">

        <!-- Links -->
          <section class="widget links">
            <h3>ナビゲーション</h3>
            <ul class="style2">
              <li><%= link_to 'トップ', '/lens_lists/top' %></li>
              <li><%= link_to 'レンズを探す', '/lens_lists/index' %></li>
              <li><%= link_to 'サイトについて', '/lens_lists/about' %></li>
              <li><%= link_to 'お問い合わせ', '/lens_lists/contact' %></li>
            </ul>
          </section>

      </div>
      <div class="6u 6u$(medium) 12u$(small)">

        <!-- Contact -->
          <section class="widget contact last">
            <h3>お問い合わせ</h3>
            <p>contact.me.anything@gmail.com<br /></p>
          </section>

      </div>
    </div>
    <div class="row">
      <div class="12u">
        <div id="copyright">
          <ul class="menu">
            <li>Copyright &copy; 2017 簡単オールドレンズ検索</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
