<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row 200%">
      <div class="12u 12u(medium) important(medium)">

        <!-- Content -->
          <div id="content">
            <section class="last">
              <h2>サイトについて</h2>
              <p>オールドレンズをお探しでしょうか？このサイトでは複数のショップで販売されてるレンズを横断検索することができます。</p>
              <p>オールドレンズって探すの大変ではないですか?オールドレンズっていざ探すとなると大変ですよね。いざレンズが欲しい！って思ってもどのサイトを見ればいいのか分からない。直接お店を見るしかないとなっても、常連のお客さん御用達で入りずらいんでは？とか思ったり。結局ネットで探すしかなく、けどサイトが古くて探しずらい。見ずらい。そもそも更新されているか不安になったり。そこで”簡単オールドレンズ検索”が役に立つでしょう。複数のショップから探したいレンズを見つけることができます。</p>
            </section>
          </div>

      </div>
    </div>
  </div>
</div>
