<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row 200%">
      <div class="12u 12u(medium) important(medium)">

        <!-- Content -->
          <div id="content">
            <section class="last">
              <h2>お問い合わせ</h2>
              <p>お問い合わせ、レンズの掲載等のご要望など、ございましたら下記のメールアドレスへ<strong>名前、本文</strong>を添えて、ご連絡をお願い致します。</p>
              <p>XXXX@gmail.com</p>
            </section>
          </div>

      </div>
    </div>
  </div>
</div>
