<% if @q.present? %>
<div id="banner-wrapper">
  <div id="banner" class="box container">
    <div class="row">
      <div class="12u 12u(medium)">
        <p><%= page_entries_info @m_lens_infos %></p>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if @m_lens_infos.present? %>
<div id="header-wrapper" style="padding: 2em 0 0 0">
  <div id="header" class="container">
      <div id="logo" style="padding-bottom: 0">
        <h2>検索結果</h2>
      </div>
  </div>
</div>

<!-- Features -->
<%= render :partial => 'search_list' %>

<div id="banner-wrapper">
  <div id="banner" class="box container">
    <div class="row">
      <div class="12u 12u(medium)" style="text-align: center;">
        <%= paginate @m_lens_infos %>
      </div>
    </div>
  </div>
</div>
<% end %>