<!-- 概要  -->
<div id="overview" class="box container">
  <div class="row">
    <div class="12u 12u(medium)">
      <table>
      <% @strange_words.each do |m| %>
        <tr>
          <td><%= m.id %></td>
          <td>
            <% if m.ranking_words.present? %>
              <% m.ranking_words.split(',').each do |ranking_word| %>
                <% if MProperNoun.search_tag(ranking_word).present? %>
                  , <%= ranking_word %>
                <% else %>
                  , <b style="font-size: 1.5em;"><%= ranking_word %></b>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </div>
  </div>
</div>
