// Active Admin's got SASS!
@import "admin/jstree/style";
@import "admin/toastr/toastr";

#file-list {
  overflow: scroll;
  height: 500px;
}

#overview {
	#cache-name {
		color: red;
	}

	.strage-info {
	  padding-left: 0.5em;
		.info-name {
		  font-weight: bold;
		}
	}
}