#page-wrapper {
  #header-wrapper {
    #header {
      #logo {
        a {
          font-size: 0.6em;
        }
      }
    }
  }
}

#logo {
  a:hover {
    text-decoration: none;
    color: #FFF;
  }
}

#search_bar {
  padding-top: 1em;

  #q {
    width: 100%;
    border-color: rgb(160,160,160);
  }

  a.button {
    line-height: 1.9em;
    font-size: 1em;
  }
}

#features-wrapper {
  .no {
    text-align: right;
    font-size: 0.6em;
    font-weight: bold;
  }
}